* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(247, 247, 247);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* FONTS */

.rubik-puddles {
  font-family: "Rubik Puddles", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.doto {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-decoration: underline rgb(100, 100, 100);
  margin-top: -50px;
}

.menu a {
  color: rgb(100, 100, 100);
}

h1 {
  font-family: "Rubik Puddles";
  font-size: 90px;
  text-align: center;
}

h2 {
  font-family: "Space Mono";
  font-size: 40px;
  text-align: center;
  letter-spacing: 4px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

h3 {
  font-family: "Roboto Mono";
  list-style: none;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

li {
  font-family: "Roboto Mono";
  list-style: none;
  font-size: 20px;
  text-align: center;
}

#frontpage_link {
  text-decoration: underline;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
/* GRIDS */

.list_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 1rem;
}

.list_element {
  padding: 40px;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 4px 4px 5px 2px #00000045;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.product_card {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem;
  border: solid 1px rgb(255, 255, 255);
  box-shadow: 0px 4px 10px 2px #00000045;
}

.product_card img {
  border-radius: 5px;
}

.sale_label {
  position: absolute;
  left: -1;
  top: -1;
  font-family: "Roboto Mono";
  font-size: 14px;
  background-color: rgb(255, 214, 243);
  box-shadow: 0px 2px 4px 0px #00000045;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100px;
}

.product_label {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Mono";
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  .card_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 1rem;
  }
}
